@media only screen and (max-width: 768px) {
    /* For mobile phones: */

    [class*="col-"] {
        width: 100%;
    }

    .nav-container li
    {
    	font-size: 14px;
    }
    .nav-container a:hover , li:hover
	{
	    background-color: #ff9933;
	    
	}

	.er-links
	{
		text-align: center;
	}
	.slideshow , .aboutus , .programs , .contact-us
	{
		font-size: 16px;
	    padding: 15px;
	    text-align: center;
	}

	.contact-info
	{
		text-align: center;
		margin-bottom: 30px;
	}
	.mapERC
	{
		text-align: center;
	}
	#map
	{
		margin-left: 15%;
		margin-right: 15%;
		width: 70%;
	}
	.modal-content img
	{
		position: fixed;
		top: 100px;
		width: 100%;
	}

	.ielts-content-text , .toefl-content-text , .let-other-content-text
	{
		height: 100%;
	}

	.left-details
	{
	    color: white;
	    padding: 6%;

	}
	.center-details
	{
	    color: white;
	    padding: 6%;
	}
	.right-details
	{
	    color: white;
	    padding: 6%;
	}
	.about-us-paragraph
	{
	    font-family: century gothic;
	    padding-left: 2%;
	    padding-right: 2%;
	    padding-top: 2%;
	    text-align: justify;
	    text-indent: 100px;
	    font-size: 14px;


	}
	.mission-design
	{
	    background-image: url('../assets/img/text-back.png');
	    padding: 2%;
	    height: 174px;
	    color: white;
	}

	.vision-design
	{
	    background-image: url('../assets/img/text-back.png');
	    padding: 2%;
	    height: 174px;
	    color: white;
	}
}